
    body {
      background-color: #f5f5f5;
    }

    /* Header */
    .navbar-brand {
      font-weight: bold;
      color:black ;
      background-color: yellow;
    }

    /* Alphabet filter */
    .alphabet a {
      margin: 0 5px;
      text-decoration: none;
      color: #555;
      font-size: 14px;
    }

    .alphabet a:hover {
      color: #000;
      font-weight: bold;
    }

    /* Categories */
    .categories span {
      margin: 3px;
      font-size: 12px;
      background: #eee;
      padding: 5px 8px;
      border-radius: 4px;
      display: inline-block;
      cursor: pointer;
    }

    .categories span:hover {
      background: #ddd;
    }

    /* Card styling */
    .card {
      border: none;
      transition: 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card img {
      height: 260px;
      object-fit: cover;
    }

    .card-title {
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
    }

    .card-text {
      font-size: 12px;
      color: #777;
    }

    /* Section box */
    .section-box {
      background: #fff;
      padding: 20px;
      border-radius: 6px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

  